@import url("static/photon.global.css");
@import url("static/animations.css");

body {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}


.header{
  display:flex;
  min-height:40px;
  -webkit-app-region: drag;
}

.header.bordered{
  border-bottom: 1px solid #e6edf4;
}

.header.bordered.control{
  width:220px;
}


.header.bordered.actions{
  flex: 1
}

.header-container{
  display:flex;
}

.header-list-controls, .header-detail-controls{
  flex: 1;
  padding:10px;
  display: flex;
  flex-direction: row;
}

.window-controls{
  width: 220px;
  border-right: 1px solid #e6edf4;
  display: flex;
}

.window-controls .buttons{
  display:flex;
  margin: 0 1.5rem;
  align-items: center;
  justify-content: center;
  -webkit-app-region: no-drag;
}



.buttons .button {
  flex: 0 auto;
  box-sizing: border-box;
  display: inline-block;
  background: white;
  margin-right: 8px;
  height: 12px;
  width: 12px;
  border: 1px solid #D3D3D3;
  border-radius: 6px;
  box-shadow: 0px 1px 1px 0px rgba(234, 234, 234, 0.5);
  -webkit-app-region: no-drag;
}

.button.close{
  background-color: #FF5F52;
  border-color: #E33E32;
}

  
.window-controls .buttons:hover .button.close{
  background-image: url('static/assets/controls/close.png');
}

.window-controls .buttons:hover .button.maximize{
  background-image: url('static/assets/controls/maximize.png');
}

.window-controls .buttons:hover .button.minimize{
  background-image: url('static/assets/controls/minimize.png');
}

.button.minimize{
  background-color: #FFBE05;
  border-color: #E2A100;
}

.button.maximize{
  background-color: #15CC35;
  border-color: #17B230;
}

.login-inner{
  height:100%;
  display: flex;
  align-items: center;
}

.login-form-row{
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  background-color: white;
  border: 1px solid #eee;
}

.login-form form input{
  border:none;
}

.login-form form input:focus{
  outline: none;
}

.login-form form button{
  background-color: #96bf48;
  /* background: none; */
  border: none;
  padding: 10px;
  font-weight: 500;
  color: white;
}
.shopifyLogo{
  display: flex;
  flex: 1;
  margin-bottom: 60px;
}

.overlay{
  background-color: rgba(255,255,255,0.8);
  z-index: 4;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.nav-group-item h4{
  font-size:13px;
  font-weight: 500;
  margin:0;
}

.pane.collapsed{
  flex:0;
  border-right:none;
}

.media-body p .icon{
    margin-right:7px;
}

.media-body p .icon:not(:first-of-type){
    margin-left:7px;
}

.list-item-id{
  width:50%;
  float:left;
  text-transform: capitalize;
}


.list-item-moreInfo{
  width:50%;
  float:left;
  text-align: right;
  flex:10;
}

.list-item-moreInfo .icon{
  margin-right:5px;
}

.list-item-details{
  float:left;
  color: #767676;
  text-transform: capitalize;
}

span.badges:not(:first-of-type){
  margin-left:7px;
}

.list-group-item:not(.header):not(.footer):hover{
  background-color: #f2f2f2;
}

.list-group-item.header{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding:20px 0px 20px 30px;
}

.list-group-item.header span.icon{
  display: flex;
  flex: 0.8;
  justify-content: center;
  align-items: center;
}

.list-group-item.header form{
  display: flex;
  flex: 100;
  align-items: center;
}

.list-group-item.header input.form-control{
  border:0;
  flex:12;
  display: flex;
}

.list-group-item.header input:focus{
  border-color:none;
  box-shadow: none;
}

.list-group-item.footer{
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
}

.list-group-item.header, .list-group-item.footer{
  list-style: none;
}

.list-group-item.product{
  padding:0;
}

.list-group-item.product .media-body{
  flex-direction: row;

}

.media-body .product-image{
  display:flex;
  flex: 1;
  background-size:cover;
}
.media-body .product-information{
  flex:2;
  padding:20px;
  
}


.pane.search{
  flex-direction: column;
  display: flex;
  min-width:450px;
}

.inner{
  flex:1;
}

.pane.no-left{
  border:0 !important;
}

.display-block{
  display: block;
}

.capitalize{
  text-transform: capitalize;
}

.dashboard-search{
  z-index: 2;
}

.suggestions{
  position: absolute;
  width: 100%;
  max-height:200px;
  overflow-y: auto;
  left: 0;
  top:40px;
  z-index: 1;
  list-style: none;
  background-color: white;
  padding-bottom:20px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.24);
  padding-left:0;
}

.suggestions.true{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.24);
}

.suggestions.undefined, .suggestions.false{
  width:0%;
}

.icon.icon-search{
  z-index: 2;
}

.suggestions ul{
  list-style: none;
}


.suggestion-container{
  display: flex;
  flex: 10;
}

.suggestion-container-focused{
  background-color: #3187e1;
  color: white;
}

.suggestion-container-suggestion{
  padding: 5px 0px 5px 40px;
}

.search-input{
  flex:1;
  display: flex;
  flex-direction: row;
}

.search-presets{
  display: flex;
  flex:0.1;
  border-bottom: 1px solid #ddd;
}

.presets{
  flex:8;
  display: flex;
}

.presets-desc{
  flex:2;
  display: flex;
}

.presets-title{
  color:#c4cdda;
  font-weight: 500;
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.search-presets .presets span{
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  color: #7a8491;
  text-align: center;
}

.search-presets .presets span.active{
  border-bottom:2px solid #94BE46;
  font-weight:700;
  color: #767676;
}

.presets-dropdown-toggle{
  flex:0.01;
}

.highlight-warning{
  color: #e85b0f;
  background-color: #fffbe9;
}

.search-description{
  color: #7a8491;
}

.dropdown-menu::before{
  content: '';
  position: absolute;
  right: 15px;
  width: 0;
  height: 0;
  border-top: none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -8px;
  border-bottom: 8px solid #ddd;
}

.dropdown-menu{
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: absolute;
  right: 0;
  width: 200px;
  margin-top: 50px;
  background-color: white;
  z-index: 3;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: none;
}

.dropdown-menu .inner{
  padding:10px;
}

.dropdown-menu.active{
  display: block;
  animation: reveal 0.2s ease-out;
  -webkit-animation: reveal 0.2s ease-out;
}

.styled-btn{
  background:none;
  border:none;
  color: #0078bd;
}


.pane.detail{
  display:flex;
  min-width:450px;
  flex-direction: row;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07);
  background-color: rgb(235, 238, 240);
}

.pane-inner{
  display:flex;
  flex:1;
}

.handle{
  flex: 2;
  max-width:10px;
  cursor: ew-resize;
}

.detailView{
  flex: 100;
}

.dashboard-detail-innerContainer{
  display: flex;
  flex-direction: row;
}

.dashboard-detail-main{
  flex:6;
  display: flex;
  margin-right:20px;
}

.dashboard-detail-side{
  flex: 3;
  display: flex;
}

.ui-card{
  background-color: #fff;
  border-radius:3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}